.inputs-container {
    background-color: green;
    display: flex;
    flex-direction: column;
}

#register-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
}